.containersale{
  margin-top: 40px;
}
.sale-header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1600px; 
  margin: 0 auto;
  padding: 10px 0;
}
  
.sale-title {
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #333333;
  margin-left: -92px;
}
  
.sale-line {
  flex: 1;
  height: 1px;
  background-color: #DDDDDD;
  position: absolute;
  width: 1400px;
  left: 200px;
}
  
.all-sale-button {
  background-color: #ffffff;
  border: 1px solid #DDDDDD;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 150px;
  height: 36px;
  font-size: 16px;
  position: absolute;
  left: 1542px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #8B8B8B;
  transition: color 0.3s ease;
}

.all-sale-button:hover{
  color: #282828;
}

.salegrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 80px;
}